



<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-6">
        <ul class="nav nav-tabs">
          <li class="active"><a href="#/bulk_import" data-toggle="tab">Bulk import</a></li>
          <li><a href="#/upload_html" data-toggle="tab">Upload HTML</a></li>
          <li><a href="#/terminal" data-toggle="tab">Integrations</a></li>
        </ul>
    </div>
</div>
<div class="row">&nbsp;</div>
<div class="row">
    <div class="col-md-1">
        <a type="button" class="btn btn-primary" href="#/dotmarks">dotMarks</a>
    </div>

    <div class="col-md-4">
        <div class="row">
            <textarea ng-model="terminal" class="terminal" ></textarea>
            <a class="btn btn-danger" ng-click="bulkImport()" >Load!</a>
        </div>
    </div>
</div>

